$fdisplay: flex

@mixin all-center
  display: $fdisplay
  justify-content: center
  align-items: center
  
@mixin spacebetween-center
  display: $fdisplay
  justify-content: space-between
  align-items: center

@mixin spacearound-center
  display: $fdisplay
  justify-content: space-around
  align-items: center

@mixin spaceevenly-center
  display: $fdisplay
  justify-content: space-evenly
  align-items: center

@mixin column-spacebetween
  display: $fdisplay
  flex-direction: column
  justify-content: space-between
  align-items: center