@use '../helpers/flexBox' as flexBox
@use '../helpers/_variables' as variables

.Cart__product
  overflow-y: scroll
  display: flex
  align-items: flex-start
  flex-wrap: nowrap
  margin-bottom: 52px
  border: 1px solid variables.$lightgray-color
  border-bottom: 2px solid variables.$secondary-color
  border-radius: 0 0 variables.$common-space2 variables.$common-space2
  padding: variables.$common-space2 variables.$common-space3
  width: 100%
  min-width: 320px
  height: fit-content
  font-weight: 700
  span
    color: variables.$gray-color
    font-size: 1.4rem
    font-weight: 700
    text-decoration: line-through
    margin-right: variables.$common-space2
  input
    width: 48px
    padding: variables.$common-space1 variables.$common-space2
    margin: 0 variables.$common-space1
    font-size: 1.8rem
    line-height: 1
    border-radius: variables.$common-space1
  &__image
    @include flexBox.all-center
    height: 100%
    picture
      width: 64px
      height: 100%
      img
        width: 100%
  &__info
    display: flex
    flex-wrap: wrap
  &__title
    width: 100%
    padding: 6px
    padding-right: 0
    text-align: right
  &__row
    width: 100%
  &__wrapper
    width: 100%
    padding: 6px
    padding-right: 0
    display: flex
    flex-direction: row-reverse
    align-items: center
    flex-wrap: wrap