@use '../helpers/variables'
@use '../helpers/flexBox'

.Cart
  position: relative
  right: 0px
  bottom: 0px
  width: 100%
  display: flex
  flex-direction: column
  padding: variables.$common-space3 12px
  background-color: variables.$light-color
  font-weight: 700
  font-size: 1.8rem
  line-height: 1.5
  text-align: right
  overflow-y: scroll
  span
    color: variables.$gray-color
    font-size: 1.4rem
    font-weight: 700
    text-decoration: line-through
    margin-right: variables.$common-space2
  .ActionButton
    align-self: flex-end
    margin-bottom: variables.$common-space1
  &__product
    display: flex
    align-items: flex-start
    flex-wrap: wrap
    margin-bottom: variables.$common-space3
    padding: variables.$common-space2 variables.$common-space3
    border: 1px solid variables.$lightgray-color
    border-bottom: 2px solid variables.$secondary-color
    border-radius: 0 0 variables.$common-space2 variables.$common-space2
    width: 100%
    input
      width: 48px
      padding: variables.$common-space1 variables.$common-space2
      margin: 0 variables.$common-space1
      font-size: 1.8rem
      line-height: 1
      border-radius: variables.$common-space1
    &__row
      width: 100%
      padding: 6px 0
      &__wrapper
        width: 100%
        display: flex
        flex-direction: row-reverse
        align-items: center

@media screen and (min-width: 768px)
  .Cart
    width: 400px
