@use '../helpers/variables'
@use '../helpers/flexBox'

.Cart
  position: relative
  right: 0px
  bottom: 0px
  width: 100%
  padding: 0 12px
  background-color: variables.$light-color
  font-weight: 700
  line-height: 1.5
  overflow-y: scroll
  span
    color: variables.$gray-color
    font-size: 1.4rem
    font-weight: 700
    text-decoration: line-through
    margin-right: variables.$common-space2
  .ActionButton
    align-self: flex-end
    margin-bottom: variables.$common-space1
  &__button
    height: 56px
    width: 100%
    background: white
    padding: 6px 0
    position: sticky
    bottom: 0px
    left: 0px
    

@media screen and (min-width: 768px)
  .Cart
    width: 400px
